@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    background-image: url('images/Bgimg.jpg') !important; /* Replace 'your-background-image.jpg' with the actual image file path */
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif; /* You can change the font if needed */
    color: #fff; /* Text color on top of the background */
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: rgba(0, 0, 0, 0.7); /* Add a semi-transparent background to the form */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Add any additional styling needed for your form elements */


h1 {
    text-align: center;
    color: #1c86ff;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group {
    flex: 1;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 3px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 3px;
}

input[type="submit"] {
    background-color: #1c86ff;;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1c86ff;;
}
